
.Root {
    /* display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap; */
    background-color: #fff;
  }
  
  .Column {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
  }

  .Column-header-title {
    margin: 2px 0;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .Column-action {
    margin: 2px 0;
    padding: 4px 6px;
  }

  .Column-action:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .Item {
    appearance: none;
    background: #FFF;
    color: #666;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: scale(1);
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4), 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05), 0px 1px calc(2px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.05);
  }
  
  .Item[data-dragging="true"] {
    transform: scale(1.05);
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25)
  }

/* Gaya untuk scrollbar di elemen tertentu */
.Root::-webkit-scrollbar {
  height: 6px;
}

.Root::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna track scrollbar */
}

.Root::-webkit-scrollbar-thumb {
  background: #888; /* Warna thumb scrollbar */
  border-radius: 50px; /* Radius border thumb scrollbar */
}

.Root::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna thumb scrollbar saat hover */
}